@import '~antd/dist/antd.css';

.list{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  list-style: none;
}

.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
.logOut{
  float: right;
  border: none;
  background-color: white;
  cursor: pointer;
}
.user{
  margin-bottom: 0;
  .userIcon{
    font-size: 20px;
  }
}
.userName{
  cursor: default;
}
.component{
  margin: 20px 20px;
  ul{
    list-style:none;
  }
}
